*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
.env
*.pem
*.plan
ansible/inventory/**/dyndns.yml
ansible/playbooks/files/minecraft.zip
ansible/roles/*
!ansible/roles/requirements.yml