*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
.env
*.pem
*.plan
ansible/inventory/**/personal.yml
ansible/playbooks/files/minecraft.zip
ansible/roles/*
!ansible/roles/requirements.yml
