---
personal_ansible_user: []
personal_ansible_ssh_private_key_file: []
personal_ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

personal_dyndns_user: []
personal_dyndns_domain: []
personal_dyndns_pw: []

personal_minecraft_use_git: 'true'
personal_minecraft_use_archive: 'false'

personal_minecraft_git_repo: []
